@tailwind base;
@tailwind components;
.vertical-slider{
  -webkit-appearance: slider-vertical;
  background: transparent;
  cursor: pointer;
  width: 130em;
}

.vertical-slider::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 2rem;
}


@tailwind utilities;

